<header class="main-header">
	<div class="main-header__container">
		<div class="logo">
				<img src="../../../assets/logo.png" alt="Main logo">
		</div>
		<form class="search">
			<input class="search__input" type="text" value="Company Name" placeholder="Company Name">
		</form>
		<div class="user">
			<div class="user__options">
				<button class="user__messages" type="button">My Messages</button>
				<button class="user__notifications" type="button">My Notifications</button>
			</div>
			<div class="user__info">
				<a href="#" class="user__link">
					<b class="user__avatar">
						<img src="../../../assets/avatar.jpg" alt="My avatar">
					</b>
					<b class="user__nickname">
						Maximillian Beekeeper
					</b>
				</a>
			</div>
		</div>
	</div>
</header>