<app-main-nav></app-main-nav>

<section class="advertisment">
	<header class="advertisment__header">Advertisment</header>
	<img src="#" alt="Advertisment">
</section>

<section class="list-companies">
	<header class="list-companies__header">Featured companies</header>
	<div class="list-companies__company company">
		<div class="company__logo">
			<img src="#" alt="test">
		</div>
		<div class="company__info">
			<h4>Manufacturer</h4>
			<b>Belgrade, Sebia</b>
			<a href="#">Follow now</a>
		</div>
	</div>

	<div class="list-companies__company company">
			<div class="company__logo">
				<img src="#" alt="test">
			</div>
			<div class="company__info">
				<h4>Service Provider</h4>
				<b>New York, USA</b>
				<a href="#">Follow now</a>
			</div>
		</div>

		<div class="list-companies__company company">
				<div class="company__logo">
					<img src="#" alt="test">
				</div>
				<div class="company__info">
					<h4>Supplier</h4>
					<b>London, England</b>
					<a href="#">Follow now</a>
				</div>
			</div>
</section>

<section class="copyright">
	<header class="copyright__header">Denteez Copyright 2015</header>
	<div>
		<a class="copyright__link" href="#">Terms of use</a>
		<a class="copyright__link" href="#">Privacy Policy</a>
	</div>
</section>